#contact_modal {
    display: none;
    z-index: 2;
}
.hidden {
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -10000px;
  width: 1px;
}
/*header*/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display:flex;
    position: relative;
}

.photograph-header a {
    text-decoration: none;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 50px;
}

.photograph-header article h2 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -9px;
    width: 500px;
    
}
.photograph-header article p {   /* */
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.photograph-header article span {  /* */
    font-size: 18px;  
    font-weight: 400;
    margin-bottom: 5px;
    color:black;
}

.photograph-header article img {  /* */
    height: 200px;
    width: 200px;
    border-radius:100px;
    object-fit: cover;
    position:absolute ;
    right: 28px;
    top:52px;
}

.photograph-header .photographer-info
{
 height:300px;
 position: absolute;
 top: -26px;
 left: -23px;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color:#FAFAFA;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    right:44%;
    top:110px;
}
.contact_button:hover,.contact_button:focus{
  background-color:#DB8876;
  color: #312E2E;
  transform: scale(1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)300ms;
}

/* contact modal */
.modal {
    width:669px;
    height:900px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin:24px;
}

.modal header img {
    cursor: pointer;
    position: relative;
    top: -40px;
}
.modal header img:hover,.modal header img:focus{
    cursor: pointer;
    transform: scale(1.3);
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin:0;
    margin-top: -12px;
}
.header-text{
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 15px;
}

form input,form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 35Px;
}
/* select box */
#selectbox{
  display:flex;
  align-items: flex-start;
  margin-top: 30px;
  height: 30px;
}
#selectbox span{
  font-size: 18px;
  font-weight: 700;
  margin:18px 20px 0 100px;
}
.select {
  color: #000000;
  width: 170px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #901C1C;
  padding-bottom: 10px;
  padding-top: 10px;
  font-style: normal;
  border-radius: 5px;
  z-index: 1;
  
}
.pre-option{
  width:125px;
  padding:13px 10px;
  background-color:#901C1C;
  color:aliceblue;
  font-weight: 700;
  font-size: 18px;
  position: relative;
}
.select .options div {
  width:125px;
  border-bottom: 2px solid white;
  padding:13px 10px;
  background-color:#901C1C;
  color:aliceblue;
  font-weight: 700;
  font-size: 18px;
 
}


.select .options {
  
  align-items: center;
  

}
.select .options div:hover {
  font-weight: bolder;
}
.select .options div:hover,.select .options div:focus{
  transform: scale(1.15);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)200ms;
  background-color:#D3573C;
  border-bottom: none;
}

.arrowdown::after { /*  Custom dropdown arrow */
  position: absolute;
  pointer-events: none;
  content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="18" height="18" viewBox="0 0 24 24"%3E%3Cg transform="rotate(-90 12 12)"%3E%3Cpath fill="white" d="M9.125 21.1L.7 12.7q-.15-.15-.212-.325Q.425 12.2.425 12t.063-.375Q.55 11.45.7 11.3l8.425-8.425q.35-.35.875-.35t.9.375q.375.375.375.875t-.375.875L3.55 12l7.35 7.35q.35.35.35.862q0 .513-.375.888t-.875.375q-.5 0-.875-.375Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  display:block;
  line-height: 1;
  right: 0.5em;
  top: 43%;
  margin-top: -.5em;
  
}
.arrowup::after {
  position: relative;
  pointer-events: none;
  content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="18" height="18" viewBox="0 0 24 24"%3E%3Cg transform="rotate(90 12 12)"%3E%3Cpath fill="white" d="M9.125 21.1L.7 12.7q-.15-.15-.212-.325Q.425 12.2.425 12t.063-.375Q.55 11.45.7 11.3l8.425-8.425q.35-.35.875-.35t.9.375q.375.375.375.875t-.375.875L3.55 12l7.35 7.35q.35.35.35.862q0 .513-.375.888t-.875.375q-.5 0-.875-.375Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  display:block;
  line-height: 1;
  right: -6em;
  top:42%;
  margin-top: -16px;
}



/* section media */

.photos{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0 100px;
    gap:85px;
    margin-top: 100px;
    outline: none;
    
}
.photo{
    
    overflow: hidden;
}
.photo img{
    width:350px;
    height:300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}
button.photo_like{
    margin-right: -100px;
    border:none;
    background-color:#FAFAFA;
    color:#901C1C;
    font-size: 24px;
    width:100px;
}

.photo_title {
   color:#901C1C;
   font-size: 24px;
}
.photo_like img:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.photo:hover{
  transform: scale(1.07);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)200ms;
}
.photo_title{
    display: block;
    text-align: left;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.photo_like img{
    width:17.5px;
    height:18.35px;
}
    
.photo video{
    width:350px;
    height:300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}
.photo_context{
    display:flex;
    
    width:350px;
    
}



.modal-on  /*background modal*/
{position: absolute;
left: 0;
top: 0;
height: 100vh;
width: 100vw;
background-color: rgba(213, 213, 213, 0.5);
overflow: hidden;
}

.envoyer_button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.envoyer_button:hover,.envoyer_button:focus{
  transform: scale(1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)300ms;
}
 #message
{
    height:170px;
    padding-left:10px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 20px;
    font-weight: 900;
    color: black;
    display: block;
    margin-top: 7px;
    margin-bottom: 0px;
    text-align: left;
    line-height: 0.8;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }

  /*lightbox*/
  .lightbox{
    position: relative;
  }
  .lightbox_container{
   display:block;

  }
 
  .lightbox_affiche{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top:0;
    width: 100vw;
    height:100vh;
    background-color:white;
    z-index: 2;
    display: none;
    /* transform: translateX(13%); */
   
  }
 
  .lightbox_affiche.active{
    display: flex;
   
  }  
 

  .lightbox_affiche .photo_title{
    font-weight: 400;
    margin-left: 15%;
    margin-top: -35px;
    font-size: 24px;
    
  }

  .lightbox_img img,.lightbox_video video{
    margin: 0 auto;
    width: 70%;
    height:900px;
    object-fit: cover;
    margin-top: 50px;
    
    
  }
  .lightbox_img,.lightbox_video{
   width:100%;
   overflow: hidden;
   object-fit: cover;
   display: flex;
   flex-direction: column;
   color:#901C1C;
   font-size:25px;
   font-weight: 500;
   height: 100%;
   justify-content: center;
   align-items: center;
  }

  .lightbox_img span,.lightbox_video span
  {
    margin-left:70px
  } 

   .lightbox_buttons
  {
    display: none;
  }
  .lightbox_buttons.active
  {
    display: flex;
  } 

  .lightbox_close{
   
    width:42px;
    height:42px;
    border:none;
    background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="40" height="40" viewBox="0 0 24 24"%3E%3Cpath fill="%23901c1c" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6Z"%2F%3E%3C%2Fsvg%3E');
    position:fixed;
    top:16%;
    right:10%;
    z-index: 2;

  }

  .lightbox_prev{
    height:30px;
    width:50px;
    border:none;
    background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="30" viewBox="0 0 24 24"%3E%3Cpath fill="%23901c1c" d="M10 22L0 12L10 2l1.775 1.775L3.55 12l8.225 8.225Z"%2F%3E%3C%2Fsvg%3E');
    position:fixed;
    top:50%;
    left:11%;
    z-index: 2;
  }

  .lightbox_next{
    position: fixed;
    height:30px;
    width:50px;
    border:none;
    background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="30" viewBox="0 0 24 24"%3E%3Cg transform="rotate(180 12 12)"%3E%3Cpath fill="%23901c1c" d="M10 22L0 12L10 2l1.775 1.775L3.55 12l8.225 8.225Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    top:50%;
    right:10%;
    z-index: 2;
  }
  
  .lightbox_prev:focus,.lightbox_next:focus,.lightbox_close:focus{
    transform: scale(1.1);
    box-shadow: #901C1C;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)300ms;

  }
  .encart{
    width:376px;
    height:80px;
    background-color:#DB8876;
    display: flex;
    justify-content: space-between;
    position:fixed;
    right:15%;
    bottom: 0%;
    border-radius: 5px;
    font-size: 24px;
    align-items: center;
    z-index: 1;
  }
  .encart:hover,.encart:focus{
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)300ms;
  }
  #encart_price{
  margin-right: 10%;
  font-weight: 500;
  }
  #totallikes{
    margin-left: 40%;
  }
  .encart_likes{
    display: flex;
    align-items: center;
  }

  @media only screen and (min-width: 800px) and (max-width: 1320px) {
    section.photos {
     width:100%;
    grid-template-columns: repeat(2,1fr);
    margin:0;
    margin-top: 100px;
    gap:0;
  }
    
    section article{
      display:inline-block;
      text-align: center;
      margin-top: 35px;
    } 
    
    .photo_context{
      padding-left: 114px;
    }
    .photo_title{
      margin-left: -30px;
    }
    
    .logo { 
        margin-left: 20px;
    }
    h1{
        margin-right:20px;}
    .contact_button{
      right:2%;
      top:70%
    }
    .photograph-header article img{
      width:150px;
      height:150px;
      top:22px;
     } 
     
  }

  @media only screen and (max-width:1000px){

.photograph-header .photographer-info{
 width:400px;
 left:40px;
}
   
  }

  @media only screen and (max-width: 799.98px) {
    
    section.photos {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 50px;
      background-color:#FAFAFA;
    }
    .photograph-header{
      margin:0 50px;
    }
    .contact_button{
      position: relative;
      right: -38%;
      top: 60%;
      height: 60px;
    } 

    .photograph-header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 395px;
    }
    .photograph-header article{
      align-items: center;
      height: 395px;
      display: flex;
      flex-direction: column;
    }
    .photograph-header article img{
      position:static;
      width:150px;
      height:150px;
      margin-top: 25px;
      
            } 


  .photograph-header .photographer-info{ 
    position:static;
    
   } 
   .photograph-header article h2{
    font-size: 35px;
   }

   .modal header h2{
    margin-top: 5px;
    font-size: 35px;
   }
   .photograph-header article p{
    font-size: 18px;
   }
   .photograph-header article span{
    font-size: 15px;
    margin-bottom: 25px;
   }
   .modal{
    width:70%;
    height: 740px;
   }
   form label{
    font-size: 20px;
   }
   .select .pre-option{
    padding: 8px 10px;
    
   }
   .lightbox_img img,.lightbox_video video{
    height:900px;
   }
}

@media only screen and (min-width: 1440px){
  body{
    width:1440px;
  }
  .lightbox_img, .lightbox_video{
   width:1440px;
  } 
  .lightbox_img img, .lightbox_video video{
    max-width:1008px;
  
  }
  .lightbox{
    margin:0 auto;
  }
  }

  @media only screen and (max-width: 440px){
    .lightbox_img, .lightbox_video{
      height:unset;
    }
    .lightbox_img img,.lightbox_video video{
      height:600px;
     }
    .contact_button{
      right:-26%;
    }
    .photograph-header article h2{
      font-size: 28px;
    }
    .encart{
      width: 240px;
      height: 50px;
      right:75px;
    }
    #totallikes{
      margin-left: 14%;
    }
    .lightbox_next{
      right: 8%;
    }
    .lightbox_prev{
      left:8%;
    }
    .lightbox_close{
      right:7%;
      top: 7%;
    }
    .lightbox_affiche .photo_title{
      margin-top: 0%;
    }
  }
  
  @media only screen and (max-width: 380px){
    .contact_button{
      right:-21%;
    }
  }